// Colors

$blue: #0085B7;
$lightblue: #F5F6FA;
$lightblue2: #F2F6FA;
$lightblue3: #78BCFE;
$black: #121B25;
$white: #ffffff;
$gray: #ECECEC;
$background: #F6F6F6;
$shadow: #000000;
$dark-gray: #64646C;
$lightgray: #E8E8E8;
$dark: #373735;
$brown: #975936;
$orange: #CB3725;
$red: #E33E5A;
$purple: #94378E;