@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Button {
    width: 100%;
    text-transform: uppercase;
    background: $red;
    color: $white;
    padding: 1.5rem;
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    border: 1px solid;
    cursor: pointer;
}

.Invert {
    @extend .Button;
    background: $white;
    color: $red;
}

.Blue {
    @extend .Button;
    border-color: $blue;
    background: $blue;
}

.Blue.Invert {
    color: $blue;
    background: $white;
}
