@import "../../assets/styles/variables/colors.scss";
@import "../../assets/styles/variables/fonts.scss";
@import "../../assets/styles/variables/displays.scss";

.Thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    cursor: pointer;

    img {
        max-width: 100%;
        height: auto;
    }

    .Play {
        position: absolute;
        transition: all 0.15s ease-in-out;
    }
 
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.15s ease-in-out;
    }

    &:hover {
        &::before {
            opacity: 0;
        }

        .Play {
            opacity: 0;
        }
    }
}