.landing {
    display: flex;
    align-items: center;

    @include until($tablet) {
        align-items: flex-start;
    }

    @include from($tablet) {
        background: url('../images/background/bg-screen-sml.jpg');
        background-repeat: no-repeat;
        background-position: top right;
    }

    @include from($widescreen) {
        background: url('../images/background/bg-screen-crop.jpg');
        background-size: cover;
        // background-position: right;
    }

    width: 100%;
    min-height: 100vh;

    @include until($tablet) {
        padding-left: 5rem;
    }

    @include from($tablet) {
        padding-left: 10rem;
    }

    @include from($desktop) {
        padding-left: 20rem;
    }

    .image {
        @include until($tablet) {
            width: 310px
        }
    }

    .content {
        h1 {
            @include from($tablet) {
                font-size: 3.5rem;
            }

            @include until($tablet) {
                font-size: 2.5rem;
            }

            text-transform: uppercase;
        }

        .buttons {
            display: flex;
            margin: 2rem 0;

            .button {
                min-width: 140px;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;

                &:first-of-type {
                    // flex: 1 1 0px;
                    margin-right: 2rem;
                }
            }
        }

        @include until($tablet) {
            .button {
                border-radius: 4px;
            }

            .buttons {
                width: 320px;
            }
        }

        @include from($tablet) {
            .button {
                min-width: 200px;
                padding: 1.5rem;
                border-radius: 4px;
            }
        }



        p {
            font-style: italic;
            color: $purple;

            @include from($tablet) {
                font-size: 1.125rem;
                letter-spacing: 0.5px;
                line-height: 24px;
            }

            @include until($tablet) {
                font-size: 1rem;
            }
        }
    }
}