.landing {
    display: flex;
    align-items: center;

    @include until($tablet) {
        align-items: flex-start;
    }

    @include from($tablet) {
        background: url('../images/background/bg1.png');
        background-size: cover;
    }

    width: 100%;
    min-height: 100vh;


    @include until($tablet) {
        padding-left: 5rem;
    }

    @include from($tablet) {
        padding-left: 10rem;
    }

    @include from($desktop) {
        padding-left: 20rem;
    }

    .image {
        @include until($tablet) {
            width: 310px
        }
    }

    .content {
        h1 {
            @include from($tablet) {
                font-size: 3.5rem;
            }

            @include until($tablet) {
                font-size: 2.5rem;
            }

            text-transform: uppercase;
        }

        .buttons {
            display: flex;
            margin: 2rem 0;

            .button {
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;

                &:first-of-type {
                    // flex: 1 1 0px;
                    margin-right: 2rem;
                }
            }

            @include from($tablet) {

                //hack to work around react/bulma conflicts
                .is-outlined,
                .is-primary {
                    background-color: transparent;
                    border: none;
                }
            }
        }

        @include until($tablet) {
            .button {
                min-width: 140px;
                border-radius: 4px;
            }

            .buttons {
                width: 320px;
            }
        }

        @include from($tablet) {
            .button {
                min-width: 220px;
                padding: 1.5rem;
                border-radius: 4px;
            }
        }



        p {
            font-style: italic;
            color: $purple;

            @include from($tablet) {
                font-size: 1.125rem;
                letter-spacing: 0.5px;
                line-height: 24px;
            }

            @include until($tablet) {
                font-size: 1rem;
            }
        }
    }
}

.landing-after {
    width: 100%;
    
    .video-grid {
        display: block;
        background-color: $white;
        margin: 3rem auto;
        max-width: 1200px;

        @include until($tablet) {
            padding-left: 5rem;
            top: 650px;
            padding: 5px;
            width: 320px;
        }

        @include from($tablet) {
            padding-left: 2rem;
            top: 950px;
            width: 100%;
        }

        @include from($desktop) {
            padding-left: 2rem;
        }

        .thumbnail {
            margin: 10px;
        }

        @include from($tablet) {
            .row {
                width: 750px;
            }
        }

        @include from($desktop) {
            .row {
                width: 90%;
            }
        }
    }
}