// Imports
// Variables
@import "./variables/colors.scss";
@import "./variables/fonts.scss";
@import "./variables/displays.scss";


body {
    margin: 0;
    padding: 0;
    font-family: $font-text;

    * {
        box-sizing: border-box;
    }
    
    ::before, ::after {
        box-sizing: border-box;
    }
    
    ul, li {
        list-style: none;
        padding-inline-start: 0%;
    }

    a {
        text-decoration: none;
    }
}